        #header{
            background-color: lightgrey;
        }
        #logo{
            margin-top:-20px;
            margin-left :5%;
            width: 50px;
            height: 50px;	
        }
        #banner{
        	 margin-left :30%;
        	 width: 500px;
        	 height: 120px
        }
        #company-name{
        	font-size: 50px;
        	font-family: initial;
        }
    	#captcha_div{
    		display: -webkit-box;
    	}
    	#Add-button-captcha{
    		background-color: lightgrey;
    		width: 60px;
    		height: 22px;
    		text-align: center;
    	}
    	#capctha-refresh{
    		margin-left: 5px;
    		height: 22px;
    	}
    	#phn-number-country-code,
    	#alt-number-country-code{
         width: 126px;
         margin-top: 1.5%;   
    	}
    	#phn-number,
    	#alt-number{
    	 width: 258px;
    	 margin-left: 30%;
    	 margin-top: -9%;
    	 border-radius:0px 4px 4px 0px;
    	}