#header{
    		width: 100%;
    		height: 50px;
    		background-color: lightgrey;
    	}
    	#logo{
    		margin-left: 2%;
    		border:1px solid black;
    		width: 50px;
    		height: 50px;
    	}
    	#banner{
    		margin-top: 5%;
    		margin-left: 1%;
    		margin-right: 2%;
            height: 278px;
            float: left;
    	}
    	@media screen and (max-width: 1137px)
    	{
			#banner {
			    float: left;
			}
		}
		@media screen and (max-width: 649px)
		{
			#flex-container{
				width: 100% !important;
				margin-left:0% !important;
			}
		}

        #flex-container{
        	margin-top:5%;
        	margin-left:25%;
        	width: 50%;
            height: auto;
            position: relative;
            display: flex;
        	background-color: lightgrey;
        }
    	#register-box{
    	   width: 100%;
    	   height: 100%;
    	   margin:0%;
    	}
    	#form-header{
        	width: 100%;
        	height: 20%;
        	margin-top: -3.3%;
        	background-image: linear-gradient(to right, #0000FF ,#8A2BE2,lightblue );
            color: white;
        	text-align: center;
        }
        #register-form{
          margin-top: 5%; 
    	}
    	select:required:invalid {
         color: gray;
         }
    	#mandatory{
    		color:red;
    	}
    	#submit-btn{
    		margin-left: 45%;
    	}
    	#footer{
    		margin-top: 5%;
    	}